#popup {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 10em;
    left: 0;
    right: 0;
    text-align: center;
    color: black;
    background-color: orange;
}
#popup>span {
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
